body {
    background-color: lightpink;
}

.TheBasics {
background-color: lightblue;
}

.Personality {
background-color: lightgoldenrodyellow;
}

.Looks {
background-color: lightsalmon;
}

.ToConclude {
background-color: lightseagreen;
}